
  
  #lienzoMapa {
  /*visibility: hidden;*/
    width:auto; 
    height:12rem; 
    margin:  auto;
    padding: auto;
    border: 5px solid; 
    border-radius: 0px;
  }




  .u-condition {
    font-size: small;
    color: #262d2a;
  }
  /*#a3cfbb*/
  .accordion-button:focus {
    z-index: 3;
    border-color:#a3cfbb;
  }
  .accordion-button {
    z-index: 3;
    border-color:#a3cfbb;
  }
  .accordion-button:not(.collapsed) {
    color: var(--bs-accordion-active-color);
    background-color: #17b16c;
  }
  .accordion-button:not(.collapsed) {
    color: #a4c7b0;
    background-color: #a3cfbb;
}
  .input-group-text{
    color: rgb(53, 40, 233) ;
    background-color: #e4e8ee;
    margin:10px 0px 10px 10px;
  }
   .texto-rendatario {
    background-color: bisque;
   }
   