
  
  #lienzoMapa {
  /*visibility: hidden;*/
    width:auto; 
    height:12rem; 
    margin:  auto;
    padding: auto;
    border: 5px solid; 
    border-radius: 0px;
  }
  legend {
    color: #198754;
    width: 100%;
    font-size: 24px;
    font-weight: bolder;
    background-color: rgb(238, 238, 244);
  }

  fieldset {
    text-align: center;
    align-content: center;
    margin: 3px;
    padding: 2px;
    border: 1px solid rgb(89, 43, 226);
  }

  .u-condition {
    font-size: small;
    color: #262d2a;
  }
  /*#a3cfbb*/
  .accordion-button:focus {
    z-index: 3;
    border-color:#a3cfbb;
  }
  .accordion-button {
    z-index: 3;
    border-color:#a3cfbb;
  }
  .accordion-button:not(.collapsed) {
    color: var(--bs-accordion-active-color);
    background-color: #17b16c;
  }
  .accordion-button:not(.collapsed) {
    color: #a4c7b0;
    background-color: #a3cfbb;
}
  .input-group-text{
    color: rgb(53, 40, 233) ;
    background-color: #e4e8ee;
    margin:10px 0px 10px 10px;
  }
   .texto-rendatario {
    background-color: bisque;
   }
   