# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env

# Django
*.log
*.pot
*.py[cod]
*.sqlite3
db.sqlite3
/media/
*.pyc
*.pyo
*.pyd
__pycache__/
*.env

# Environments
.envforrequierements
.env
.venv
envforrequierements/
env/
venv/
ENV/
envforrequierements.back/
env.bak/
venv.bak/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db