{% extends "base_generic.html" %}

{% block title %}<title>Chat Room</title>{% endblock %}

{% block saludos %}             
                <div class="alert alert-warning alert-dismissible fade show " role="alert">
                    <strong>Contacta con el Rendatario.</strong> Puedes escribir al rendatario, para mayor informacion. 
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
{% endblock %}


{% block content %}
<style>
  textarea {

    resize: none;
    width: 250px;
    box-sizing: content-box;
    /* form-sizing: content;*/
  }
</style>
<div class="row">
  <!-- {% for x in resultado_amistad_rendador_renta %}
    <p>{{x}}</p>
  {% endfor %}<br> -->
  
  {% for x in resultado_amistad_actual %}
  <p><a href="{% url 'rentapp:detail' x.renta_id %}">{{x.relacion}}</a></p>
  {% endfor %}
<!--Convierte el diccionario en json-->
{{ room_name|json_script:"room-name" }}
{{ datos|json_script:"datos-json" }}

<textarea  style="height: 40%; width: 100%;" id="chat-log" readonly="readonly"></textarea>
  <fieldset>
    <legend class="bi bi-envelope"> <i class="bi bi-person-circle"></i></legend>
    <!-- <form id="form" novalidate> -->
    <form action="{% url 'chat:room' room_name %}" method="post">
      {% csrf_token %}
      <div class="input-group flex-nowrap">

        <input hidden name="amistad" id="id_amistad" value="{{room_name}}" required>
      </div>

      <div class="input-group flex-nowrap">
        <span class="form-label" id="addon-wrapping"><i style="font-size: 24px; margin: 7px;"
            class=" bi bi-chat"></i>
        </span>
        <input class="form-control" id="id_texto" type="text" size="30"><br>

        <input class="btn btn-primary" id="chat-message-submit" type="button" value="Send">
      </div>
    </form>
  </fieldset>
  <div class="content"> 

{% if user.is_authenticated %}
  <!-- <dl>
      <dt>tipo:</dt>
      <dd>{{ user.id }}.</dd> -->
      <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseChat" aria-expanded="false" aria-controls="panelsStayOpen-collapseChat">
              <i class="bi bi-chat"></i> <i> Lista de Chats.</i>
            </button>
          </h2>
  {% for datos in datos_amistad %}
  
  {% if datos.userdador_id == user.id %}
  

      <div id="panelsStayOpen-collapseChat" class="accordion-collapse collapse">
        <div class="accordion-body">
          <div class="input-group ">
            <i class="bi bi-person-circle"></i>
            <a href="{% url 'chat:room' datos.id %}" class="btn btn-primary"><i><u>Ir a Chat.</u></i>
                {{datos.relacion}}
            </a>
          </div>
        </div>
      </div>

  {% endif %}


  {% endfor %}
</div>
</div>
  <!-- </dl> -->
  {% endif %}
</div>

<script>
  /*variable para el tamaño de textarea*/
  // let cont = 2;

  const roomName = JSON.parse(document.getElementById('room-name').textContent);
  const datos_json = JSON.parse(document.getElementById('datos-json').textContent);
  //datos_json.map(iter => console.log(iter.texto));

  // console.log(datos)
  const chatSocket = new WebSocket(
    'ws://'
    + window.location.host
    + '/ws/chat/'
    + roomName
    + '/'
  );

  chatSocket.onopen = function (e) {
    console.log("Estas empe zando!!!");
    let tabla = []
    datos_json.map(iter => (
      tabla.push(`${iter.texto} \n`)));

    // alert(tabla.join(''))
    document.querySelector('#chat-log').value = tabla.join('')
  }
  chatSocket.onmessage = function (e) {
    const data = JSON.parse(e.data);
    console.log(data)
    //document.querySelector('#chat-log').value += datos_json.map(iter => (iter.texto + '\n'));
    document.querySelector('#chat-log').value += (data.texto) + data.pub_date + data.amistad_id + 'Nuevo mensaje...\n';
    document.querySelector('#chat-log').style = `height:40%; width: 100%;`;
    alert('Has recibido un mensaje')

  };
  chatSocket.onclose = function (e) {
    let tabla = []
    datos_json.map(iter => (
      tabla.push(`${iter.texto} \n`)));
    console.error('chat socket close unexpectedly');
    location.reload();

  };

  document.querySelector('#id_texto').focus();
  document.querySelector('#id_texto').onkeyup = function (e) {
    if (e.key === 'Enter') { //enter, return
      document.querySelector('#chat-message-submit').click();
      document.querySelector('#chat-log').style = `height:40%; width: 100%;`;
      console.log(document.querySelector('#chat-log'))
    }
  };

  document.querySelector('#chat-message-submit').onclick = function (e) {
    const messageInputDom = document.querySelector('#id_texto');
    const texto = messageInputDom.value;
    // nuevo campo amistad_clave foranea
    const amistadInputDom = document.querySelector('#id_amistad');
    const amistad = amistadInputDom.value;
    // Envia al WebSocket un nuevo mensaje
    chatSocket.send(JSON.stringify({
      'amistad': amistad,
      'texto': texto,
      'pub_date': new Date(),
    }));

    messageInputDom.value = '';

  };
  //window.onload(document.querySelector('#chat-log').value += datos_json.map(iter => (iter.texto + '\n' )));

</script>

</div>
{% endblock %}
{% block pagination %}{% endblock %}