{% extends "base_generic.html" %}

{% block title %}
<title>Dashboard</title>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h3>Contenido Dashboard de {{ quien_es }}, {{user|title}}</h3>
    <div>
        {% if mensajes %}
        <ul class="list-group">
            {% for message in messages %}
            <li class="list-group-item {% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="row">   
        <div>
            <a class="btn btn-primary mb-3 bi bi-plus-square-fill" href="{% url 'rentapp:insertar_renta' %}" target="_self" rel="noopener noreferrer">
                Nueva Renta</a>
        </div> 
        
        <p>{{ rentas.usertario.id }}</p>
        {% for renta in rentas %}
        <!-- {% if renta.user.id == user.id %} -->
        <div class="col-md-4 mb-4">
            <div class="card border-dark">
                <div class="card-body">
                    <b class="card-title">{{ renta.direccion|title|slice:53 }} ...</b>
                    <p class="card-text">
                        <!-- <strong>Referencia:</strong> {{ renta.referencia|title }}<br>
                        <strong>Tipo:</strong> {{ renta.user.tipo|title }} -->
                    </p>
                    <div class="d-flex justify-content-between">
                        <a class="btn btn-outline-primary" target="_parent" href="{% url 'rentapp:detail' renta.id %}">Ver</a>
                        <a class="btn btn-secondary" target="_parent" href="{% url 'rentapp:insertar_foto' renta.id %}"><i class="bi bi-plus-square-fill"></i> Imagen</a>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal{{ renta.id }}"><i class="bi bi-trash"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- {% else %}
        <p>No hay rentas disponibles</p>
        {% endif %} -->

        <!-- Modal borrar -->
        <div class="modal fade" id="modal{{ renta.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Eliminar item</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ¿Deseas borrar?, {{ renta.direccion }} ¡no habrá paso atrás!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <a href="{% url 'rentapp:delete_renta' renta.id renta.user.id %}" class="btn btn-danger">Borrar</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}