{% extends "base_generic.html" %}
{% block title %}<title>Index</title>{% endblock %}

<style>
  .btn {
    margin: 9px;
  }

  .row {
    margin: 4px;
    padding: 4px;
  }
</style>

{% block content %}
<div class="row">
  <!-- <div class="col-12 col-sm-12">¿Buscas Renta?
    <h2>Mapa Local:</h2>
    <div id="lienzoMapa"></div>
  </div> -->
  <div class="col-12 col-sm-12">¿Buscas Comida en R.D.?
    <!-- Carrusel -->
    <div id="testimonios-carrusel" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <h3><u>Alsitio</u></h3>

            <img class="testimonio-imagen rounded-circle" width="130px" height="90px" src="/media/gallery/alsitio.png"
              alt="Foto de Gino">
            <p class="testimonio-texto"><u>Alsitio.com</u></p>
            <div class="testimonio-info">
              <p class="cargo">Restaurante.</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <h3><u>Trocitos Troop</u></h3>
            <img class="testimonio-imagen rounded-circle" width="130em" height="90em" src="/media/gallery/trocitos.png"
              alt="Foto de Nora">
            <p class="testimonio-texto"><u>Trocitos Tropicales.com</u></p>
            <div class="testimonio-info">
              <p class="cargo">Restaurante.</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <h3><u>Alsitio</u></h3>

            <img class="testimonio-imagen rounded-circle" width="130em" height="90em" src="/media/gallery/alsitio.png"
              alt="Foto de Leonardo">
            <p class="testimonio-texto"><u>alsitio.com</u></p>
            <div class="testimonio-info">
              <p class="cargo">Restaurante.</p>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#testimonios-carrusel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#testimonios-carrusel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
      </button>
    </div>
  </div>

  <span id="location" hidden>"Localolo"</span>

  {{ fotos_rentas|json_script:"rentas-json" }} 
  <!--Tabajar con el mapa-->
  <script>
    let jsondataRenta = JSON.parse(document.getElementById('renta-json').textContent)
    let myLatlng = [];
    let result_lat = 0;
    let result_lon = 0;
    let contadorFaltantesCord = 0;
    for (let i = 0; i < jsondataRenta.length; i++) {
      if (isNaN(jsondataRenta[i].latitud)) {
        contadorFaltantesCord += 1;
        console.log(jsondataRenta[i].latitud, "no es un numero. fueron:", contadorFaltantesCord);
      }
      else {
        result_lat += parseFloat(jsondataRenta[i].latitud.toString().substring(0, 10));
        result_lon += parseFloat(jsondataRenta[i].longitud.toString().substring(0, 11));
      }

    }
    let promedio_lat = (result_lat / (jsondataRenta.length - contadorFaltantesCord));
    let promedio_lon = (result_lon / (jsondataRenta.length - contadorFaltantesCord));

    let marker = [];
    let lat_prom = promedio_lat;
    let lon_prom = promedio_lon;
    //mostrando en pantalla
    //document.write(promedio_lat.toString().substring(0, 10));
    //document.write(promedio_lon.toString().substring(0, 11));

    //var map;
    function initialize() {
      const svgMarker = {
        //path: "M -1,0 A 1,1 0 0 0 -3,0 1,1 0 0 0 -1,0M 1,0 A 1,1 0 0 0 3,0 1,1 0 0 0 1,0M -3,3 Q 0,5 3,3",
        path: "M-1.547 12l6.563-6.609-1.406-1.406-5.156 5.203-2.063-2.109-1.406 1.406zM0 0q2.906 0 4.945 2.039t2.039 4.945q0 1.453-0.727 3.328t-1.758 3.516-2.039 3.070-1.711 2.273l-0.75 0.797q-0.281-0.328-0.75-0.867t-1.688-2.156-2.133-3.141-1.664-3.445-0.75-3.375q0-2.906 2.039-4.945t4.945-2.039z",
        fillColor: "#3dbb76",
        fillOpacity: 1,
        strokeWeight: 0,
        rotation: 0,
        scale: 1,
        anchor: new google.maps.Point(0, 0),
      };
      var mapOptions = {
        zoom: 6,
        center: new google.maps.LatLng(lat_prom.toString().substring(0, 10), lon_prom.toString().substring(0, 11))
      };
      var map = new google.maps.Map(document.getElementById('lienzoMapa'), mapOptions);

      for (let i = 0; i < jsondataRenta.length; i++) {
        //var latitud = document.getElementById("latitud")
        myLatlng[i] = new google.maps.LatLng(jsondataRenta[i].latitud.toString().substring(0, 10), jsondataRenta[i].longitud.toString().substring(0, 11));
        marker[i] = new google.maps.Marker({
          position: myLatlng[i],
          icon: svgMarker,
          title: document.getElementById("location").innerHTML = jsondataRenta[i].direccion,
        });
        let newContentString = "";
        let fotos = [];
        let contentString = "";
        for (let j = 0; j < jsondataFotos.length; j++) {
          if (jsondataFotos[j].renta_id == jsondataRenta[i].id && jsondataFotos[j].image_renta != null) {
            fotos[i] = jsondataFotos[j].renta_id;

            newContentString += " <img src='../media/" + jsondataFotos[j].image_renta + "' width='70px' height='70' /> ";
            //console.log(fotos[i]);
            //console.log(newContentString);

            //document.write(fotos[j])
          }
          // fotos[cont] += jsondataFotos[j].renta_id;
        }
        contentString = '<div id="content">' +
          '<div id="siteNotice">' +
          "</div>" +
          '<h1 id="firstHeading" class="firstHeading">Se Renta</h1>' +
          newContentString +
          '<div id="bodyContent">' +
          "<p><b>Local:</b><a href='/rentapp/" + jsondataRenta[i].id + "/'>" +
          " " + jsondataRenta[i].direccion + "</a> </br>" +
          "(" + jsondataRenta[i].referencia + " Publicado el " + jsondataRenta[i].pub_date + ").</p>" +
          "</div>" +
          "</div>";

        let infowindow = new google.maps.InfoWindow({
          content: contentString,
          ariaLabel: jsondataRenta[i].direccion,
        });
        marker[i].addListener("click", () => {
          infowindow.open({
            anchor: marker[i],
            map,
          });
        });
        // To add the marker to the map, call setMap();
        marker[i].setMap(map);
      }
    }
    google.maps.event.addDomListener(window, 'load', initialize);
  </script>

  <!-- {% for x in rentas %}
    {{x}}<br>
    {{x.renta__id}}
  {% endfor %} -->

  {% if rentas %}
  <div class="content">
    <div style="font-weight: bold;" class="col-12 alert alert-success" role="alert">
      Rentas Disponibles.! <i class="bi bi-house"></i>
    </div>
    {% for renta in rentas %}
    <div class="col-12 " >
      <!--Inicia acordeon de renta individual-->
      <div class="accordion " id="accordionExample">
        <div class="accordion-item " >
          <h2 class="accordion-header ">
            <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
              data-bs-target="#{{renta.renta__id}}" aria-expanded="false" aria-controls="{{renta.renta__id}}">

              <!--Frente Acordeon-->
              <span class="alert alert-success" style="margin: 4px;"><i class="bi bi-house"></i> Local:</span> <a class="u-condition  rounded-pill"
                target="_parent" href="{% url 'rentapp:detail' renta.renta__id %}"> {{ renta.renta__direccion }}</a>

            </button>
          </h2>
          <div id="{{renta.renta__id}}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div  style="background-color: rgb(239, 244, 244);" class="accordion-body">
              {% if renta.image_renta != "" %}
              <div>
                <a target="_parent" href="../media/{{ renta.image_renta }}">
                  <img
                    style="margin: 4px; height: 60px;width: 50px;" class="fotos" src="../media/{{ renta.image_renta }}"
                    alt="../media/{{ renta.name_foto_renta }}" />
                </a>
              </div>
              {% endif %}
              <dl style="font-size: 24px;" >
                <dt><i class="bi bi-house">Local:</i></dt>
                <dd><a class="u-condition  rounded-pill" target="_parent" href="{% url 'rentapp:detail' renta.renta__id %}">
                    {{renta.renta__direccion}}</a></dd>
                <dt><i class="bi bi-send-fill">Contact:</i></dt>
                <dd><a href="insertar_amistad/{{renta.renta__usertario}}-{{user.id}}-{{renta.renta__id}}" target="_parent" rel="noopener noreferrer"> <i
                  class="bi bi-envelope"></i></a>
              <a target="_blank" rel="noopener noreferrer"><i class="bi bi-whatsapp"
                  title="Contactar con Whatapp."></i></a></dd>
              </dl>
              <code>
                Referencia:
                "<u>{{ renta.referencia }}</u>", 
                Publicado:
                "<u>{{ renta.pub_date }}</u>"
              </code>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>

    {% endfor %}
  </div>
  {% else %}
  <p>no Rentas disponibles.</p>
  {% endif %}

</div>

{% endblock %}