{% extends "base_generic.html" %}

{% block title %}<title>Rentapp - Add Userdador</title>{% endblock %}
{% block saludos %}
<div class="alert alert-warning alert-dismissible fade show " role="alert">
    <strong>Cuenta nueva.</strong> Así podras encontrar la renta que buscas desde tu PC o Dispositivos mobiles.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endblock %}

{% block customcards %}{% endblock %}

{% block content %}
<h1>Rentapp - Registro Userdador</h1>

    <h1>Registro</h1>
    <form  action="{% url 'rentapp:insertar_userdador' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="usertario_id" class="form-label ">{{ form.username.errors}}{{ form.username.label}}</label>
            <input autofocus name="username" id="usertario_id" class="form-control col-sm-6" type="text"
            placeholder="Username deseado" aria-label="default input example">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">{{ form.email.errors}}Email address</label>
            <input name="email" type="email" class="form-control" id="exampleFormControlInput1"
            placeholder="name@example.com" required>
        </div>
        <div class="mb-3">
            <label for="inputPassword5" class="form-label">{{ form.password.errors}}Password</label>
            <input name="password" type="password" id="inputPassword2" class="form-control"
            aria-describedby="passwordHelpBlock" required>
        </div>


        <input class="btn btn-primary" type="submit" value="Submit" />
    </form>
{% block pagination %}{% endblock %}
{% endblock %}