{% extends "base_generic.html" %}

{% block title %}<title>Rentapp - Add Amistad</title> {% endblock %}

{% block content %}
<h1>Rentapp - Add Amistad</h1>

<div class="row">
    <div class="content">
        <fieldset>
            <u class="u-condition">Completa este formulario para poder usar nuestros servicios.</u>

            <legend>Formulario De Amistad.</legend>
            <form action="{% url 'rentapp:insertar_amistad' %}" method="post">
                {% csrf_token %}

                {% for field in form %}
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping">@ {{ field.label_tag }}
                    </span> {{ field.errors }}
                    {{ field }}

                </div>

                {% endfor %}

                <input class="btn btn-primary" type="submit" value="Submit" />

                <br>

            </form>
        </fieldset>
        <p>
            {% for dato in datos %}
        <div class="form-control text-center">
            <p>{{ dato.id }} - | > Userdador:</span>{{ dato.userdador_id }} es
                amigo de <span class="color"> Usertario:</span>{{dato.usertario_id }} |
                Son Amigos por <u>{{dato.relacion }}</u> {{dato.pub_date }} </p>
        </div>
        {% endfor %}
        </p>
    </div>
</div>

{% endblock %}

{% block pagination %}{% endblock %}