{% extends "base_generic.html" %}

{% block title %}<title>Rentapp - Add Usertario</title>{% endblock %}

{% block content %}
<h1>Rentapp - Add Usertario</h1>
<div class="row">
    <div class="content">


        <fieldset>
            <u class="u-condition">Completa este formulario, y empieza a usar nuestros servicios.</u>
            <legend>¿Rentar?</legend>
            <p>
                Registrate para poder contactar con
                los rentadores.</p>
        </fieldset>
    </div>
    <div class="content">
        <fieldset>
            <legend>Sign in</legend>
            <form action="{% url 'rentapp:insertar_usertario' %}" method="post">
                {% csrf_token %}
                {% if form.e_mail.errors %}
                <span class="input-group-text bi bi-envelope col-12 col-sm-6" id="addon-wrapping"> {{
                    form.e_mail.errors}}
                </span>
                {% endif %}
                <div class="input-group flex-nowrap">

                    <span class="input-group-text bi bi-envelope" id="addon-wrapping"> {{ form.e_mail.label_tag}}
                    </span>
                    {{ form.e_mail }}

                </div>
                <div class="input-group flex-nowrap">
                    <span class="input-group-text bi bi-phone" id="addon-wrapping">{{form.telefono.label_tag}}
                    </span>
                    {{ form.telefono.errors }}
                    {{ form.telefono }}

                </div>
                <div class="input-group flex-nowrap">
                    <span class="input-group-text " id="addon-wrapping">{{ form.password.label_tag }}
                    </span>
                    {{ form.password.errors }}
                    {{ form.password }}

                </div>



                <input class="btn btn-primary" type="submit" value="Submit" />
            </form>
        </fieldset>
    </div>
</div>
{% block pagination %}{% endblock %}
{% endblock %}