{% extends "base_generic.html" %}
{% block title %}<title>Rentapp - Nueva Foto</title>{% endblock %}

{% block content %}
<h1>Rentapp - Add Fotos</h1>

<div class="row">
    <div class="content">
        <fieldset>
            <u class="u-condition">Completa este formulario, y empieza a usar nuestros servicios.</u>
            <legend>¿Rentar?</legend>
            <p>
                Registrate para poder contactar con
                los rentadores.</p>
        </fieldset>
    </div>
    
    <div class="content">
        <fieldset>
            <legend class="bi bi-images"> Add Photo.</legend>
            {{ renta_id }}
            <!-- {{ renta_title.direccion }} -->
            {% for x in renta_title %}
            {{ x.direccion }}
            {%endfor%} 
            <form action="{% url 'rentapp:insertar_foto' renta_id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="input-group flex-nowrap">
                    
                    <div class="input-group flex-nowrap">
                        <input hidden name="renta" value="{{ renta_id }}" type="text">
                        {{ form.usertario.errors }}
                    </div>
                </div>
                <div class="form-control custom-file">
                    {{ form.image_renta.errors }}
                    <input name="image_renta" type="file" class="custom-file-input form-control" id="customFileLang" lang="es">
                    <label class="custom-file-label" for="customFileLang"><i class="bi-images"></i> Imagen</label>
                  </div>
                
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping">{{ form.name_foto_renta.label_tag }}

                    </span>
                    {{ form.name_foto_renta.errors }}
                    {{ form.name_foto_renta }}
                </div>

                <input class="btn btn-primary" type="submit" value="Submit" />
            </form>
        </fieldset>
    </div>
</div>
<p> 
    {% for x in datos_fotos%}
    {{x.renta}}-<img style="width: 36px; height: 36px;" src="/media/{{x.image_renta}}" alt="imagen-{{x.id}}">
    {% endfor %}
</p>
<p>{{renta_id}}</p>
{% endblock %}

{% block pagination %}{% endblock %}

</html>