<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}<title>Rentapp</title>{% endblock %}

    <head>
        <!-- Iconos de Bootstrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <!-- Bootstrap -->
        <link href="/media/bootstrap-5.3.1-dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="/media/bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js"></script>
        <!-- My estilo css -->
        <link href="/media/css/style.css" rel="stylesheet">

        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                text-align: center;
            }

            .pagination {
                justify-content: center;
            }
        </style>
        <!-- Add additional CSS in static file -->
        <!-- {% load static %} -->
        <!-- <link rel="stylesheet" href="{% static 'css/styles.css' %}">-->
    </head>

<body>
    <div class="container-fluid">
        {% block page_name %}<h1><i style="color: #198754;" class="bi bi-house">RentApp</i></h1>{% endblock %}
        <div class="row">
            <div class="col-sm-4">
                <br>

                {% block search %}
                <form class="d-flex" role="search" action="{% url 'rentapp:buscar' %}" method="post">
                    {% csrf_token %}

                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                {% endblock %}

                {% block sidebar %}
                <a style="font-size: 24px;color: #198754;" class="" href="/rentapp/"><i
                        style="font-size: 43px;color: #198754;" class="bi bi-house"></i></a>



                {% if user.is_authenticated %}
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseTwo">
                                <i class="bi bi-menu-app-fill"></i> Menú
                            </button>
                        </h2>

                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <nav class="nav flex-column">

                                    <a class="nav-link " href="/rentapp/"><i class="bi bi-house"></i> Index</a>
                                    <a class="nav-link " href="/rentapp/insertar_renta/"><i
                                            class="bi-plus-square-fill"></i> Nueva
                                        Renta</a>
                                    <a class="nav-link " href="/rentapp/insertar_foto/"><i class="bi-images"></i> Add
                                        Fotos</a>
                                    <a class="nav-link" href="/rentapp/insertar_userdador/"><i
                                            class="bi-person-square"></i> Add
                                        Userdador</a>
                                    <a class="nav-link" href="/rentapp/insertar_usertario/"><i
                                            class="bi-person-square"></i> Add
                                        Usertario</a>
                                    <a class="nav-link" href="/rentapp/insertar_amistad/"><i
                                            class="bi-person-square"></i> Add
                                        Amistad</a>
                                    <a class="nav-link" href="/chat/"><i class="bi-envelope"></i>
                                        Add Mensaje</a>
                                    {% if user.is_authenticated %}
                                    <dl>
                                        <dt>tipo:</dt>
                                        <dd>{{ user.tipo }}.</dd>
                                        <dt>Categoria User:</dt>
                                        <dd>{{ user.categoria }}.</dd>
                                        <dt>User:</dt>
                                        <dd>{{ user.username }}.</dd>
                                        <dt>email:</dt>
                                        <dd>{{ user.email }}.</dd>
                                        <dt>Activo:</dt>
                                        <dd><a href="{% url 'rentapp:logout_user'%}?next={{request.path}}"><i
                                                    class="bi bi-door-closed-fill"></i>
                                                Cerrar sesión</a>.</dd>
                                        <dd><code>Aquí cierra sessión...</code></dd>
                                    </dl>


                                    {% endif %}

                                </nav>

                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <dl>
                    <dt><code>Desactivo</code></dt>
                    <dd>
                        <a href="{% url 'rentapp:insertar_userdador'%}?next={{request.path}}"><i class="bi bi-door-open-fill"></i>
                            Sign'Rendador'</a>
                    </dd><dd>
                        <a href="{% url 'rentapp:insertar_usertario'%}?next={{request.path}}"><i class="bi bi-door-open-fill"></i>
                            Sign'Rendatario'</a>
                    </dd>
                    <dd>
                        <a href="{% url 'login'%}?next={{request.path}}"><i class="bi bi-door-open-fill"></i>
                            Iniciar sesión</a>
                    </dd>
                    <dd><code>Aquí inicia sessión...</code></dd>

                </dl>
                {% endif %}

                {% endblock %}
            </div>
            <div class="col-sm-7 ">

                {% block content %}{% endblock %}

                {% block pagination %}
                <p>{{ rentas.number }} of {{rentas.paginator.num_pages }}</p>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% if rentas.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">&laquo; Primera</a></li>
                        <li class="page-item"><a class="page-link"
                                href="?page={{rentas.previous_page_number }}">Previous</a></li>

                        {% endif %}

                        {% if rentas.has_next %}

                        <li class="page-item"><a class="page-link" href="?page={{ rentas.next_page_number }}">Next</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="?page={{ rentas.paginator.num_pages }}">Última
                                &raquo</a></li>


                        {% endif %}
                    </ul>
                </nav>
                <!--<p>Pagina {{ rentas.number }} of {{rentas.paginator.num_pages }}</p>-->

                {% endblock %}


                {%block footer %}
                <footer>WinderFree-Apps</footer>
                {% endblock%}

            </div>


        </div>

    </div>
</body>

</html>